
html, body, ul, ol, p, h1, h2, h3, h4, h5, h6, form, fieldset,table,td, img {margin:0; padding:0; border:0;}

.dataForm li{line-height:20px;list-style:none;padding-left:20px;}

.dataTitle {color:#2E6CD2;font-size:14px;font-weight:bold;margin-bottom: 20px}

.inputstyle{padding-bottom:5px;}

.leftform{float:left;width:42%;height:100%;background:url(../images/install_logo.jpg) 45% 38% no-repeat;}
.conLeftForm{padding-top:75%;width:200px;padding-left:24.5%;}


.rightform{float:left;width:58%;_width:57%;background:url(../images/install_lines.jpg) left 46% no-repeat;height:100%;}
.conRightForm{padding-top:35%;padding-left:58px;_padding-top:21%;}

.bottomclass{position:absolute;width:100%;left:0;bottom:50px;height:35px;background:url(../images/bottomBg.gif) repeat-x;min-width:1000px;line-height:35px;}